<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BrainBook.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5002501413BA8491A10B9ADC29B0AD7D39B96D57</string>
				<key>dateExpires</key>
				<string>07/01/2024</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>37WPF58MK7.esole.BrainBook</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>37WPF58MK7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>BrainBook.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0eab948d-c2ab-4263-8ddd-822d212c439e</string>
				<key>dateExpires</key>
				<string>27/02/2024</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: esole.BrainBook</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>37WPF58MK7</string>
				<key>name</key>
				<string>ZEESHAN ISMAIL</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
